html
  head
    title 인증 실패
    script(language='javascript').
      var isAndroid = /android/i.test(navigator.userAgent.toLowerCase())
      window.onload = () => {
        if (isAndroid) {
          console.log('is Android', window.AppBridge)
          window.AppBridge['fail']()
        } else {
          console.log('is Webkit')
          if (window.webkit != null && window.webkit.messageHandlers != null) {
            console.log('is iOS')
            window.webkit.messageHandlers['fail'].postMessage()
          } else {
            alert('오잉 앱 내에서 호출해 주세요.')
          }
        }
      }

  block content
    h2=message