html
  head
    title NICE평가정보 가상주민번호 서비스
    script(language='javascript').
      var isAndroid = /android/i.test(navigator.userAgent.toLowerCase())
      var code = '!{code}'
      var authId = '!{authId}'
      window.onload = () => {
        if (isAndroid) {
          console.log('is Android', window.AppBridge)
          window.AppBridge[code](authId)
        } else {
          console.log('is Webkit')
          if (window.webkit != null && window.webkit.messageHandlers != null) {
            console.log('is iOS')
            window.webkit.messageHandlers[code].postMessage(authId)
          } else {
            alert('오잉 앱 내에서 호출해 주세요.')
          }
        }
      }

  block content
    h2=message