html
  head
    meta(charset='euc-kr')
    title NICE평가정보 가상주민번호 서비스
    script(language='javascript').
      
      window.onload = () => {
        document.form_ipin.submit() 
      }

  body 
    form(name='form_ipin' method='post' action='https://cert.vno.co.kr/ipin.cb')
      input(type='hidden' name='m' value='pubmain')
      input(type='hidden' name='enc_data' value=encryptedData)