html
  head
    meta(charset='utf-8')
    title 네이버 인증서 서비스
    script(language='javascript').
      
      window.onload = () => {
        document.form_naver.submit() 
      }

  body 
    form(name='form_naver' method='post' action='https://nsign-gw.naver.com/sign/v2/sign/web')
      input(type='hidden' name='m' value='pubmain')
      input(type='hidden' name='enc_data' value=encryptedData)