html
  head
    title NICE평가정보 CheckPlus 안심본인인증 서비스
    script(language='javascript').
      window.name = 'Parent_window'
      window.onload = () => {
        document.form_chk.submit() 
      }

  body 
    form(name='form_chk' method='post' action='https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb')
      input(type='hidden' name='m' value='checkplusService')
      input(type='hidden' name='EncodeData' value=encryptedData)